 .hero{
    height: 1000px;
    background-image: url(../images/pexels-abel-kayode-155872537-10850704.jpg);
    background-size: cover;
    background-position: center 150%;
    background-repeat: no-repeat;
 }